@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

body {
    margin: 12px;
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 37px;
    color: #04146c;
}

span {
    font-weight: 700;
    font-size: 22px;
    color: #0a2ff1;
}

img {
    width: 55px;
    height: auto;
    vertical-align: middle;
    margin-right: 15px;
}

p {
    font-weight: 400;
    font-size: 20px;
    color: #04146c;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
}

div {
    padding: 10px;
}